.body{
  height: 100vh;
}
.textolegal{
  font-size: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.textolegal span{
  position: relative;
}
.textolegal span::before{
  content:"";
  color: #f0797e;
  animation:textoanimadu 25s infinite;
}
@keyframes textoanimadu{
  0%,20% {
    content:"Precisa de um computador?";
  }
  21%,40% {
    content:"Que caiba na sua mão?";
  }
  41%,60% {
    content:"Que seja menos de 1000 reais?";
  }
  61%,80% {
    content:"E que ensine algo para seu filho?";
  }
  81%,100% {
    content:"Conheça o Rapberry Pi Modelo 5!";
  }
}
.logo{
  display:flex;
  justify-content: start;
  align-items: start;
}
.logor{
  height: 40px;
  width: 50px;
}
