.body{
  height: auto;
}
.textolegal{
  font-size: 50px;
  font-family: "Lucida Console", "Courier New", monospace;
}
.textolegal span{
  position: relative;
}
.textolegal span::before{
  content:"";
  color: #f0797e;
  animation:textoanimadu 25s infinite;
}
@keyframes textoanimadu{
  0%,20% {
    content:"Precisa de um computador?";
  }
  21%,40% {
    content:"Que caiba na sua mão?";
  }
  41%,60% {
    content:"Que seja menos de 1000 reais?";
  }
  61%,80% {
    content:"E que ensine algo para seu filho?";
  }
  81%,100% {
    content:"Conheça o Rapberry Pi Modelo 5!";
  }
}
.logo{
  display:flex;
  justify-content: start;
  align-items: start;
}
.logor{
  height: 40px;
  width: 50px;
}
.img{
  background-color: #E30B5C;
  height:500px;
  border-radius:10px;
  width:800px;
}
.imgr{
  position:absolute;
  top:200px;
  left:15px;
  scale:0.9;
}
.text1{
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  color:white;
  position:absolute;
  top:200px;
  left:430px;
}
.text2{
    font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  color:white;
  position:absolute;
  top:430px;
  left:420px;
}
.text2 a{
  text-decoration: none;
  background-color:yellow;
  color: red;
  border-radius:5px;
}
